html , body {
    background-color: #20232a;
    color: white;
    width: 100vw;
}

ol , ul{
    list-style: decimal;
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card{
    border: 1px solid white;
    border-radius: 10px;    
    overflow: hidden;
    margin:10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4px;
    max-width: 45%;
}

.card img {
    max-height: 200px;
}